In [1]:
import numpy as np
import pandas as pd

In [2]:
docs = [
    'new home sales top forecasts',
    'home sales rise in july',
    'increase in home sales in july',
    'new home sales rise in November'
]

# 1. 각 문서를 tf-idf에 기반한 벡터로 표현

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidfv = TfidfVectorizer().fit(docs)
vec = tfidfv.transform(docs).toarray()
print(tfidfv.get_feature_names())
print(vec)
print(tfidfv.vocabulary_)
print(tfidfv.idf_)

['forecasts', 'home', 'in', 'increase', 'july', 'new', 'november', 'rise', 'sales', 'top']
[[0.56199026 0.29326983 0.         0.         0.         0.44307958
  0.         0.         0.29326983 0.56199026]
 [0.         0.35220727 0.43080005 0.         0.53212376 0.
  0.         0.53212376 0.35220727 0.        ]
 [0.         0.26784458 0.65522475 0.51326809 0.40466646 0.
  0.         0.         0.26784458 0.        ]
 [0.         0.2919358  0.35707939 0.         0.         0.44106408
  0.55943386 0.44106408 0.2919358  0.        ]]
{'new': 5, 'home': 1, 'sales': 8, 'top': 9, 'forecasts': 0, 'rise': 7, 'in': 2, 'july': 4, 'increase': 3, 'november': 6}
[1.91629073 1.         1.22314355 1.91629073 1.51082562 1.51082562
 1.91629073 1.51082562 1.         1.91629073]

# 2. Similarity가 가장 높은 쌍부터 낮은 쌍 순으로 나열

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

sim = []

for i in range(0,4):
    for j in range(i+1,4):
        sim.append([i+1,j+1,cosine_similarity([vec[i]],[vec[j]])[0][0]])

In [26]:
df = pd.DataFrame(sim, columns=['doc1', 'doc2', 'similarity'])
df = df.sort_values(by=['similarity'], axis=0, ascending=False)
df

   doc1  doc2  similarity
3     2     3    0.686277
4     2     4    0.594174
5     3     4    0.390354
2     1     4    0.366658
0     1     2    0.206584
1     1     3    0.157101