In [114]:
import pandas as pd
import numpy as np

data = pd.DataFrame([[0,1,2],[3,4,5],[6,7,8]],index=['r0','r1','r2'],columns=['c0','c1','c2'])
data

   c1  c2  c3
0   0   1   2
1   3   4   5
2   6   7   8

In [82]:
#loc를 사용하여 첫 번째 행의 요소들을 출력하시오
data

   c1  c2  c3
0   0   1   2
1   3   4   5
2   6   7   8

In [17]:
#iloc를 사용하여 두 번째 행의 요소들을 출력하시오
data.iloc[:,1]

r0    1
r1    3
r2    7
Name: c1, dtype: int64

In [20]:
#dataframe의 []안에 비교 연산을 이용하여 2로 나누었을 때 나머지가 0인 값만 출력되도록 하시오.
data[data%2==0]

     c0  c1  c2  c3
r0  0.0 NaN   2 NaN
r1  NaN NaN   4 NaN
r2  6.0 NaN   8 NaN

In [110]:
d = {'c5':[2,5,8],'c2':[0,4,0],'c4':[9,9,9]}

In [111]:
dd = pd.DataFrame(d)
dd

   c5  c2  c4
0   2   0   9
1   5   4   9
2   8   0   9

In [115]:
data = data.merge(dd,how='inner',left_on='c3',right_on='c5')

In [116]:
data

   c1  c2_x  c3  c5  c2_y  c4
0   0     1   2   2     0   9
1   3     4   5   5     4   9
2   6     7   8   8     0   9