In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame([[0,1,2],[3,4,5],[6,7,8]],index=['r0','r1','r2'],columns=['c0','c1','c2'])
data

    c0  c1  c2
r0   0   1   2
r1   3   4   5
r2   6   7   8

In [3]:
data.loc['r0']

c0    0
c1    1
c2    2
Name: r0, dtype: int64

In [4]:
data.iloc[1]

c0    3
c1    4
c2    5
Name: r1, dtype: int64

In [5]:
data[data%2==0]

     c0   c1   c2
r0  0.0  NaN  2.0
r1  NaN  4.0  NaN
r2  6.0  NaN  8.0