In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame([[0,1,2],[3,4,5],[6,7,8]],index=['r1','r2','r3'],columns=['c1','c2','c3'])
data

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

In [2]:
#2번째 행을 삭제하시오.

In [3]:
#1번째 열을 삭제하시오.

    c2  c3
r1   1   2
r3   7   8

In [4]:
f = lambda x: x.max() - x.min()

In [12]:
#f를 각 열에 적용하라

c2    6
c3    6
dtype: int64

In [5]:
#f를 각 행에 적용하라

r1    1
r3    1
dtype: int64